<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Area:</b>
  <table>

  	<% points = GeoHelper.points_array_from_polygon(@game.area) %>
  	<% for i in 0..points.length-1 do %>
  		<tr><td>
  			<%= "(#{points[i][:lng]} , #{points[i][:lat]})" %>
  		</td></tr>
  	<% end %>

	</table>
</p>
